<div>
<!--简历主容器-->
<textarea id="resume-wrap">
	<div class="resumeConSize" id="resume-main">
		<div class="resumeCon_header clearfix" id="resume-header">
			<div class="resumeCon_img">
				<span></span>
				<%if(_.isEmpty(base.i_photo)){%>
					<img src="images/face_813_1.jpg" id="resume-photo" style="width:103px; height: 141px;" />
				<%}else{%>
					<img src="<%-base.i_photo%>" id="resume-photo" style="width:103px; height: 141px;" />
				<%}%>
			</div>
			<div class="resumeCon_name">
				<strong><%-main.name%></strong>
			</div>
			<div class="resumeCon_right">
				<strong>求职意向</strong>
				<p><%-main.direction%></p>
				<span></span>
			</div>
		</div>
		<div class="resume_body clearfix mt_20"  id="resume-body">
			<table id="dragTable" cellpadding="2"  style=" border:solid 0px green;width:98%;">
				<tr>
					<td valign="top" style="width:50%" id="resume-left">
						<div class="infoBox resume-box" id="resume-base" data-key="base">
							<h2>基本信息</h2>
							<ul class="infoBoxList">
								<li><strong>性别</strong><span><%-base.sex%></span></li>
								<%if(!_.isEmpty(base.i_nat)) {%>
								<li><strong>民族</strong><span><%-base.i_nat%></span></li>
								<% } %>
								<%if(!_.isEmpty(base.i_gov)) {%>
								<li><strong>政治面貌</strong><span><%-base.i_gov%></span></li>
								<% } %>
								<li><strong>电话</strong><span><%-base.i_phone%></span></li>
								<li><strong>电子邮箱</strong><span><%-base.i_email%></span></li>
							</ul>
						</div>
					</td>
					<td valign="top" style="width:50%" id="resume-right">
						<div class="infoBox resume-box" id="resume-education" data-key="education">
							<h2>教育背景</h2>
							<ul class="infoBoxD">
								<% for(var i = 0; i < education.length; i++ ) { %>
								<li class="infoBoxD_li clearfix">
									<span class="infoBoxD_time">
										<%-education[i].e_start_y%>/<%-education[i].e_start_m%>—<%-education[i].e_end_y%>/<%-education[i].e_end_m%>
									</span>
									<div class="infoBoxD_info">
										<strong><%-education[i].xuexiao%></strong>
										<p><%-education[i].xuewei%> <%-education[i].zhuanye%></p>
										<ul>
											<%if(!_.isEmpty(education[i].gpa)) {%>
											<li><i class="i_icoPoints"></i>GPA：<%-education[i].gpa%></li>
											<% } %>
											<%if(!_.isEmpty(education[i].zhuanyesort)) {%>
											<li><i class="i_icoPoints"></i>专业排名：<%-education[i].zhuanyesort%></li>
											<% } %>
										</ul>
									</div>
								</li>
								<% } %>
							</ul>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
</textarea>
<!--基本信息-->
<textarea id="resume-base">
<div class="infoBox resume-box" id="resume-base" data-key="base">
	<h2>基本信息</h2>
	<ul class="infoBoxList">
		<li><strong>性别</strong><span><%-data.sex%></span></li>
		<%if(!_.isEmpty(data.i_nat)) {%>
		<li><strong>民族</strong><span><%-data.i_nat%></span></li>
		<% } %>
		<%if(!_.isEmpty(data.i_gov)) {%>
		<li><strong>政治面貌</strong><span><%-data.i_gov%></span></li>
		<% } %>
		<li><strong>电话</strong><span><%-data.i_phone%></span></li>
		<li><strong>电子邮箱</strong><span><%-data.i_email%></span></li>
	</ul>
</div>
</textarea>	
<!--教育背景-->
<textarea id="resume-education">
<div class="infoBox resume-box" id="resume-education" data-key="education">
	<h2>教育背景</h2>
	<ul class="infoBoxD">
		<% for(var i = 0; i < data.length; i++ ) { %>
		<li class="infoBoxD_li clearfix">
			<span class="infoBoxD_time">
				<%-data[i].e_start_y%>/<%-data[i].e_start_m%>—<%-data[i].e_end_y%>/<%-data[i].e_end_m%>
			</span>
			<div class="infoBoxD_info">
				<strong><%-data[i].xuexiao%></strong>
				<p><%-data[i].xuewei%> <%-data[i].zhuanye%></p>
				<ul>
					<%if(!_.isEmpty(data[i].gpa)) {%>
					<li><i class="i_icoPoints"></i>GPA：<%-data[i].gpa%></li>
					<% } %>
					<%if(!_.isEmpty(data[i].zhuanyesort)) {%>
					<li><i class="i_icoPoints"></i>专业排名：<%-data[i].zhuanyesort%></li>
					<% } %>
				</ul>
			</div>
		</li>
		<% } %>
	</ul>
</div>
</textarea>						

<!--校园经历-->
<textarea id="resume-school">
	<div class="infoBox resume-box" id="resume-school" data-key="school">
		<h2>校园经历</h2>
		<ul class="infoBoxListB">
			<% for(var i = 0; i < data.length; i++ ) { %>
			<li>
				<strong><%-data[i].e_position%><span><%-data[i].e_start_y%>.<%-data[i].e_start_m%>-<%-data[i].e_end_y%>.<%-data[i].e_end_m%></span></strong>
				<span><%-data[i].name%></span>
				<p><i class="i_icoPoint mr_5 ml_5"></i><%-data[i].e_context%></p>
			</li>
			<% } %>
		</ul>
	</div>
</textarea>

<!--发表文章-->
<textarea id="resume-article">
	<div class="infoBox resume-box" id="resume-article" data-key="article">
		<h2>发表文章</h2>
		<ul class="infoBoxListA">
			<% for(var i = 0; i < data.length; i++ ) { %>
			<li class="clearfix mb_10">
				<i></i>
				<span>
					<%-data[i].title%>
					<p><%-data[i].e_date_y%>.<%-data[i].e_date_m%>  <%-data[i].paper_name%></p>
				</span>
			</li>
			<% } %>
		</ul>
	</div>
</textarea>

<!--获奖经历-->
<textarea id="resume-prize">
	<div class="infoBox resume-box" id="resume-prize" data-key="prize">
		<h2>获奖经历</h2>
		<ul class="infoBoxListA">
			<% for(var i = 0; i < data.length; i++ ) { %>
				<li class="clearfix mb_10">
					<i></i>
					<span><%-data[i].name%>
					<p><%-data[i].p_date_y%>.<%-data[i].p_date_m%>  <%-data[i].jibie%></p>
					</span>
				</li>
			<% } %>
		</ul>
	</div>
</textarea>

<!--技能-->
<textarea id="resume-skill">
	<div class="infoBox resume-box" id="resume-skill" data-key="skill">
		<h2>技能</h2>
		<ul class="infoBoxListA">
			<% for(var i = 0; i < data.length; i++ ) { %>
			<li class="clearfix mb_10"><i></i><span><%-data[i].name%></span></li>
			<% } %>
		</ul>
	</div>
</textarea>

<!--证书-->
<textarea id="resume-certificate">
	<div class="infoBox resume-box" id="resume-certificate" data-key="certificate">
		<h2>证书</h2>
		<ul class="infoBoxListA">
			<% for(var i = 0; i < data.length; i++ ) { %>
			<li class="clearfix mb_10"><i></i><span><%-data[i].name%></span></li>
			<% } %>
		</ul>
	</div>
</textarea>

<!--工作经历-->
<textarea id="resume-work">
	<div class="infoBox resume-box" id="resume-work" data-key="work">
		<h2>工作经历</h2>
		<ul class="infoBoxListB">
			<% for(var i = 0; i < data.length; i++ ) { %>
			<li>
				<strong><%-data[i].e_position%><span><%-data[i].e_start_y%>/<%-data[i].e_start_m%>—<%-data[i].e_end_y%>/<%-data[i].e_end_m%></span></strong>
				<span><%-data[i].e_company%></span>
				<p><i class="i_icoPoint mr_5 ml_5"></i><%-data[i].e_context%></p>
			</li>
			<% } %>
		</ul>
	</div>
</textarea>

<!--项目经历-->
<textarea id="resume-project">
	<div class="infoBox resume-box" id="resume-project" data-key="project">
		<h2>项目经历</h2>
		<ul class="infoBoxListB">
			<% for(var i = 0; i < data.length; i++ ) { %>
			<li>
				<strong><%-data[i].e_position%><span><%-data[i].e_start_y%>/<%-data[i].e_start_m%>—<%-data[i].e_end_y%>/<%-data[i].e_end_m%></span></strong>
				<span><%-data[i].e_company%></span>
				<p><i class="i_icoPoint mr_5 ml_5"></i><%-data[i].e_context%></p>
			</li>
			<% } %>
		</ul>
	</div>
</textarea>

<!--科研经历-->
<textarea id="resume-research">
	<div class="infoBox resume-box" id="resume-research" data-key="research">
		<h2>科研经历</h2>
		<ul class="infoBoxListB">
			<% for(var i = 0; i < data.length; i++ ) { %>
			<li>
				<strong><%-data[i].e_position%><span><%-data[i].e_start_y%>/<%-data[i].e_start_m%>—<%-data[i].e_end_y%>/<%-data[i].e_end_m%></span></strong>
				<span><%-data[i].e_company%></span>
				<p><i class="i_icoPoint mr_5 ml_5"></i><%-data[i].e_context%></p>
			</li>
			<% } %>
		</ul>
	</div>
</textarea>

<!--自我评价-->
<textarea id="resume-evaluation">
	<div class="infoBox resume-box" id="resume-evaluation" data-key="evaluation">
		<h2>自我评价</h2>
		<div class="infoBoxE"><%-data.context%></div>
	</div>
</textarea>

<!--爱好-->
<textarea id="resume-hobbies">
	<div class="infoBox resume-box" id="resume-hobbies" data-key="hobbies">
		<h2>爱好</h2>
		<div class="infoBoxE">
			<%-data.context%>
		</div>
	</div>
</textarea>

<!--主修课程-->
<textarea id="resume-subject">
	<div class="infoBox resume-box" id="resume-subject" data-key="subject">
		<h2>主修课程</h2>
		<ul class="infoBoxListB">
			<li>
				<p><i class="i_icoPoint mr_5 ml_5"></i><%-data.title%></p>
			</li>
		</ul>
	</div>
</textarea>
</div>