/*-- global style --*/
@charset "utf-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, select, button, input, textarea{margin:0; padding:0;}
body{font:12px/14px 'Microsoft Yahei',verdana,"Simun",Segoe UI, Arial, sans-serif, serif; color:#666;}
ul{list-style:none;}
li{vertical-align:top;}
select, button, input, textarea{font-size:12px; font-family:inherit; vertical-align:middle; line-height:normal;}
input{outline:none;}
button, input{border:0;}
button{cursor:pointer;}
em{font-style:normal;}
img{vertical-align:middle; border:0;}
a{text-decoration:none; color:#333;}
a:hover{color:#333; text-decoration:none;}
.clearfix{zoom:1;}
.clearfix:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}
.fl{float:left;}
.fr{float:right;}
.tac{text-align:center !important;}
.tal{text-align:left !important;}
.tar{text-align:right !important;}
.db{display:block;}
.clear{clear:both;}
.current{cursor:default;}
.hide{display:none;}

/*body 颜色*/
.bodyGray{background-color:#1a1a1a;}
.bodyGray .headerBlackCon, .bodyGray .main{width:1168px;}

/*间距*/
.mt_5{margin-top:5px;}
.mt_20{margin-top:20px;}
.mt_25{margin-top:25px;}
.mt_32{margin-top:32px;}
.mt_36{margin-top:36px;}
.mt_47{margin-top:47px !important;}
.mt_58{margin-top:58px !important;}
.ml_20{margin-left:20px;}

/*无线条*/
.noLine{border:none !important;}

/*框架宽度*/
.headerCon, .headerInfo, .main, .footerCon, .contentShow, .headerBlackCon, .headerList, .customMade, .userCenter, .loginH2 span{width:960px; margin:0 auto;}

/*图标*/
.logo, .logoOther, .btnLogin, .i_icoPlay, .i_icoDown, .i_icoDian, .i_icoClose, .i_icoHome, .i_icoHomeN, .i_icoDowns, .userImg, .i_icoAdd, .i_icoStarA, .i_icoStarB, .i_icoPrompt, .i_icoCloses, .i_icoCorrect, .item a, .i_icoCloseX, .i_icoLook, .i_icoPrint, .i_icoForwarding, .i_icoWrite, .i_icoDownload, #front a, #next a, .i_icoWindOne, .i_icoWindTwo, .i_icoWindThree, .i_icoWindFour, .i_icoWindFive,
.i_icoLone, .i_icoLtwo, .i_icoLthree, .i_icoLfour, .i_icoLfive, .i_icoLsix, .i_icoLseven,
.i_icoTabsOne, .i_icoTabsTwo, .i_icoTabsThree, .i_icoTabsFour, .i_icoTabsFive, .i_icoTop, .i_icoOk, .i_icoError, .i_icoRefresh, .i_icoSuccess,
.i_icoColorOne, .i_icoColorTwo, .i_icoColorThree, .i_icoColorFour, .i_icoColorFive, .i_icoColorSix, .i_icoColorSeven, .i_icoColorEight, .i_icoColorNine, .i_icoColorTen, .i_icoColorEleven,
.btnA, .btnC, .btnD, .btnE, .btnH,
.i_icoSone, .i_icoStwo, .i_icoSthrere, .i_icoSfour, .i_icoSfive, .i_icoCloseW, .i_icoReplace, .i_icoExport, .i_icoSok, .i_icoLeft, .i_icoRight,
.i_icoMone, .i_icoMtwo, .i_icoMthree, .i_icoMfour, .i_icoMfive, .i_icoMsix, .i_icoMseven, .i_icoMeight, .i_icoMnine, .i_icoMten, .i_icoMeleven, .i_icoMtwelve, .i_icoAdd, .i_icoCut, .i_icoThrough, .i_icoLoad, .i_icoWadd, .i_icoCloseSmall, .i_icoOks, .i_icoErrors, .loginImgA, .i_icoPay, .payTableGreen i, .payTableOrange i, .payCon_radio i, .payCon_radioGreen.on i, .payCon_radioOrange.on i
{background:url(../images/icon_01.png) no-repeat; _background:url(../images/icon_01_8.png) no-repeat; display:inline-block; vertical-align:middle; overflow:hidden;}
.logo{background-position:-160px -226px; width:166px; height:40px;}
.logoOther{background-position:-160px -226px; width:34px; height:40px;}
.i_icoPlay{background-position:-160px -101px; width:27px; height:27px;}
.i_icoLone{background-position:0 0; width:100px; height:100px;}
.i_icoLtwo{background-position:-101px 0; width:100px; height:100px;}
.i_icoLthree{background-position:-203px 0; width:100px; height:100px;}
.i_icoLfour{background-position:-304px 0; width:100px; height:100px;}
.i_icoLfive{background-position:0 -370px; width:88px; height:88px;}
.i_icoLsix{background-position:-89px -370px; width:88px; height:88px;}
.i_icoLseven{background-position:-178px -370px; width:88px; height:88px;}
.i_icoDown{background-position:-422px -72px; width:12px; height:7px;}
.i_icoDian{background-position:-404px -72px; width:5px; height:5px;}
.i_icoTabsOne{background-position:0 -101px; width:32px; height:32px;}
.contentTabs_list .focus .i_icoTabsOne{background-position:0 -135px;}
.i_icoTabsTwo{background-position:-33px -101px; width:32px; height:32px;}
.contentTabs_list .focus .i_icoTabsTwo{background-position:-33px -135px;}
.i_icoTabsThree{background-position:-67px -101px; width:27px; height:32px;}
.contentTabs_list .focus .i_icoTabsThree{background-position:-67px -135px;}
.i_icoTabsFour{background-position:-95px -101px; width:32px; height:32px;}
.contentTabs_list .focus .i_icoTabsFour{background-position:-95px -135px;}
.i_icoTabsFive{background-position:-128px -101px; width:31px; height:32px;}
.contentTabs_list .focus .i_icoTabsFive{background-position:-128px -135px;}
.i_icoTop{background-position:-410px -72px; width:11px; height:7px;}
.i_icoClose{background-position:-435px -72px; width:12px; height:12px;}
.i_icoCloses{background-position:-443px -106px; width:21px; height:21px;}
.i_icoCloseSmall{background-position:-445px -189px; width:8px; height:8px;}
.i_icoOk{background-position:-448px -72px; width:18px; height:18px;}
.i_icoOks{background-position:-262px -541px; width:18px; height:18px;}
.i_icoErrors{background-position:-281px -541px; width:18px; height:18px;}
.i_icoError{background-position:-467px -72px; width:18px; height:18px;}
.i_icoRefresh{background-position:-486px -72px; width:10px; height:10px;}
.i_icoSuccess{background-position:0 -209px; width:98px; height:98px;}
.i_icoHome{background-position:-452px -91px; width:16px; height:13px;}
.i_icoHomeN{background-position:-224px -541px; width:18px; height:15px;}
.i_icoHomeN:hover{background-position:-243px -541px;}
.i_icoDowns{background-position:-486px -84px; width:7px; height:6px;}
.userImg{background-position:-465px -106px; width:35px; height:35px;
	-moz-border-radius:20px;
    -webkit-border-radius:20px;
    border-radius:20px;
}
.i_icoColorOne{background-position:-1px -308px; width:35px; height:35px;}
.i_icoColorTwo{background-position:-37px -308px; width:35px; height:35px;}
.i_icoColorThree{background-position:-73px -308px; width:35px; height:35px;}
.i_icoColorFour{background-position:-109px -308px; width:35px; height:35px;}
.i_icoColorFive{background-position:-145px -308px; width:35px; height:35px;}
.i_icoColorSix{background-position:-181px -308px; width:35px; height:35px;}
.i_icoColorSeven{background-position:-217px -308px; width:35px; height:35px;}
.i_icoColorEight{background-position:-253px -308px; width:35px; height:35px;}
.i_icoColorNine{background-position:-289px -308px; width:35px; height:35px;}
.i_icoColorTen{background-position:-325px -308px; width:35px; height:35px;}
.i_icoColorEleven{background-position:-361px -308px; width:35px; height:35px;}
.i_icoAdd{background-position:-335px -209px; width:85px; height:85px;}
.i_icoStarA{background-position:-469px -91px; width:15px; height:14px;}
.i_icoStarB{background-position:-485px -91px; width:15px; height:14px;}
.i_icoPrompt{background-position:-427px -308px; width:29px; height:29px;}
.i_icoPrompt:hover{background-position:-398px -308px;}
.i_icoCorrect{background-position:-445px -128px; width:19px; height:14px;}
.i_icoCloseX{background-position:-477px -142px; width:23px; height:23px;}
.i_icoLook{background-position:-267px -370px; width:77px; height:77px;}
.i_icoPrint{background-position:-477px -166px; width:23px; height:22px;}
.i_icoForwarding{background-position:-454px -166px; width:23px; height:22px;}
.i_icoWrite{background-position:-477px -189px; width:23px; height:22px;}
.i_icoDownload{background-position:-454px -189px; width:23px; height:22px;}
.i_icoWindOne{background-position:-421px -212px; width:36px; height:36px;}
.i_icoWindTwo{background-position:-458px -212px; width:36px; height:36px;}
.i_icoWindThree{background-position:-421px -249px; width:36px; height:36px;}
.i_icoWindFour{background-position:-458px -249px; width:36px; height:36px;}
.i_icoWindFive{background-position:-458px -286px; width:36px; height:36px;}

.i_icoSone{background-position:0 -459px; width:43px; height:43px;}
.i_icoStwo{background-position:-45px -459px; width:43px; height:43px;}
.i_icoSthrere{background-position:-89px -459px; width:43px; height:43px;}
.i_icoSfour{background-position:-135px -459px; width:43px; height:43px;}
.i_icoSfive{background-position:-180px -459px; width:43px; height:43px;}
.i_icoCloseW{background-position:-463px -142px; width:13px; height:13px;}

.i_icoReplace{background-position:-187px -541px; width:20px; height:12px;}
.i_icoExport{background-position:-209px -541px; width:15px; height:15px;}
.i_icoSok{background-position:0 -571px; width:59px; height:59px;}
.i_icoLeft{background-position:-418px -503px; width:25px; height:48px;}
.i_icoRight{background-position:-444px -503px; width:25px; height:48px;}

.i_icoMone{background-position:0 -503px; width:44px; height:37px;}
.i_icoMtwo{background-position:-45px -503px; width:44px; height:37px;}
.i_icoMthree{background-position:-75px -503px; width:36px; height:37px;}
.i_icoMfour{background-position:-112px -503px; width:37px; height:37px;}
.i_icoMfive{background-position:-150px -503px; width:37px; height:37px;}
.i_icoMsix{background-position:-112px -503px; width:37px; height:37px;}
.i_icoMseven{background-position:-188px -503px; width:32px; height:37px;}
.i_icoMeight{background-position:-221px -503px; width:33px; height:37px;}
.i_icoMnine{background-position:-255px -503px; width:35px; height:37px;}
.i_icoMten{background-position:-291px -503px; width:25px; height:37px;}
.i_icoMeleven{background-position:-317px -503px; width:35px; height:37px;}
.i_icoMtwelve{background-position:-353px -503px; width:30px; height:37px;}
.i_icoAdd{background-position:0 -541px; width:30px; height:30px;}
.i_icoAdd:hover{background-position:-62px -541px;}
.i_icoCut{background-position:-31px -541px; width:30px; height:30px;}
.i_icoCut:hover{background-position:-93px -541px;}
.i_icoThrough{background-position:-124px -541px; width:30px; height:30px;}
.i_icoLoad{background-position:-155px -541px; width:30px; height:30px;}
.i_icoWadd{background-position:-60px -571px; width:44px; height:44px;}
.loginImgA{background-position:-105px -571px; width:136px; height:136px;}
.loginImgA:hover{background-position:-242px -571px;}
.i_icoPay{background-position:-379px -571px; width:39px; height:47px; overflow:visible;}

/*按钮*/
.btnLogin{background-position:-214px -101px; width:106px; height:36px; text-align:center; line-height:36px; color:#fff; font-size:14px;}
.btnLogin:hover{background-position:-320px -101px; color:#fff;}
.btnA{background-position:-160px -138px; width:174px; height:43px; text-align:center; line-height:43px; font-size:14px; color:#fff;}
.btnA:hover{background-position:-160px -182px; color:#fff;}
.btnB, .btnB:hover{color:#fff;}
.btnB i{margin-right:5px; position:relative; top:-1px;}
.btnB:hover .i_icoPlay{background-position:-187px -101px;}
.headerTopFixed .btnLogin, .btnC{background-position:-335px -138px; width:100px; height:30px; line-height:30px; text-align:center; color:#747171;}
.headerTopFixed .btnLogin:hover, .btnC:hover, .btnH, .btnH:hover{background-position:-335px -169px; color:#fff;}
.btnD{background-position:-405px 0; width:35px; height:35px;}
.btnD:hover{background-position:-405px -36px;}
.btnE{background-position:-441px 0; width:35px; height:35px;}
.btnE:hover{background-position:-441px -36px;}
.btnF{background-color:#fff; width:130px; height:45px; text-align:center; line-height:45px; color:#5f994d; font-size:16px; display:inline-block; vertical-align:middle;
	-moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
}
.btnG{background-color:#d3d3d3; width:130px; height:45px; text-align:center; line-height:45px; font-size:16px; color:#555; display:inline-block;
	-moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
}
.btnH{width:100px; height:30px; line-height:30px; text-align:center; font-size:14px;}
.btnI{border:2px solid #9a9a9a; width:158px; height:46px; display:inline-block; text-align:center; line-height:46px; color:#535353; font-size:14px;
	-moz-border-radius:25px;
    -webkit-border-radius:25px;
    border-radius:25px;
}
.btnJ{background-color:#000; width:132px; height:39px; color:#fff; font-size:14px; display:inline-block; text-align:center; line-height:39px;
	-moz-border-radius:20px;
    -webkit-border-radius:20px;
    border-radius:20px;
}
.btnJ:hover{background-color:#1dae1d; color:#fff}
.btnK, .btnK:hover{background-color:#c2c2c2; width:130px; height:45px; text-align:center; line-height:45px; font-size:16px; color:#555; text-decoration:none; display:inline-block;
	-moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
}
.btnL{background-color:#16bb00; display:inline-block; width:153px; height:40px; color:#fff; font-size:14px; text-align:center; line-height:40px;
	-moz-border-radius:20px;
    -webkit-border-radius:20px;
    border-radius:20px;
}
.btnL:hover{background-color:#8bed00; color:#fff;}
.btnM, .btnM:hover{background-color:#2caf2c; color:#fff; font-size:14px; width:119px; height:49px; text-align:center; line-height:49px; display:inline-block;
	-moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
}

/*头部图片*/
.headerOne{background:url(../images/banner_01.jpg) center top no-repeat; height:516px;}
.headerTwo{background:#181312 url(../images/banner_07.jpg) center top no-repeat; height:580px;}

/*导航*/
.headerTop{position:absolute; left:0; top:0; width:100%; z-index:1000;}
.headerCon{height:59px;}
.headerCon .logo{float:left; margin-top:11px;}
.headerCon .nav{float:right;}
.navList{float:left;}
.navList li{float:left; margin:0 13px; _display:inline;}
.navList a{color:#fff; font-size:14px; padding:23px 4px 20px; *padding:20px 4px 20px; display:inline-block;}
.navList a:hover{border-bottom:2px solid #65e23f; color:#fff;}
.nav .btnLogin{margin-top:12px; _display:inline;}
.headerTopFixed{position:fixed; _position:absolute; background-color:#fff; border-bottom:1px solid #eae7e7;
	-moz-box-shadow:0 1px 2px #eae7e7;
    -webkit-box-shadow:0 1px 2px #eae7e7;
    box-shadow:0 1px 2px #eae7e7;
}
.headerTopFixed .logo{background-position:0 -168px; width:119px; height:40px;}
.headerTopFixed .navList a, .headerTopFixed .navList a:hover{color:#747171;}
.headerTopFixed .btnLogin{margin:13px 3px 0;}

/*头部信息*/
.headerInfo{padding-top:200px;}
.headerInfo h2{color:#fff; font-size:32px; line-height:32px; font-weight:normal;}
.headerInfo_btn{margin-top:45px;}
.headerInfo_btn .btnA{margin-right:10px;}

.headerList{padding:140px 0 0 60px;}
.headerList strong{font-size:30px; color:#fff; font-weight:normal; display:block; line-height:30px; padding-left:80px;}
.headerList span{font-size:14px; color:#fff;}
.headerList li{margin-top:36px;}
.headerList li i{margin-right:25px;}
.headerList li span{width:191px; height:23px; text-align:center; line-height:23px; display:inline-block;
	-moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
}
.headerList li.focus span{background-color:#415629\9;}
:root .headerList li.focus span{background-color:rgba(78, 223, 50, 0.2);}
.headerList_left{float:left; width:312px;}
.headerList_middle{float:left; width:282px;}
.headerList_right{float:left; width:238px; margin-left:50px; _display:inline;}

.resumeUser{float:left; font-size:14px; color:#505050; height:62px; line-height:61px; padding-right:20px;}
.headerNav{float:left;}
.headerNav a{height:60px; line-height:60px; padding:0 12px; display:inline-block; color:#fff; float:left;}
.headerNav a:hover{background-color:#181818;}
.headerNav a .i_icoReplace, .headerNav a .i_icoExport{margin-right:9px;}
.headerNav a:hover .i_icoHomeN{background-position:-243px -541px;}

/*黑色头部*/
.headerBlack{background-color:#000; height:62px;}
.headerBlackCon{}
.logoBlack{float:left;}
.logoBlacks{float:left; margin-top:11px;}
.logoBlacks i{cursor:pointer;}
.logoBlacks span{font-size:18px; color:#fff; margin-left:15px; display:inline-block; line-height:20px; cursor:pointer;}
.logoBlack_line{float:left; background-color:#333; margin:21px 0 0 16px; width:1px; height:15px; overflow:hidden; _display:inline;}
.logoBlack .i_icoHome{float:left; margin:21px 0 0 22px; _display:inline;}
.headerBlackCon .nav{float:right;}
.headerBlackCon .navList a{padding:23px 4px;}
.user{float:left; padding:15px 5px 0 10px; position:relative; zoom:1; height:47px;}
.userName{font-size:14px; color:#fff; margin-right:12px;}
.user .i_icoDowns{margin-left:11px;}
.user a{color:#fff;}
.user.focus{background-color:#262626;}
.userList{position:absolute; right:0; top:60px; width:135px; background-color:#000;}
.userList a{line-height:30px; height:30px; padding:0 14px; color:#868686; display:block;}
.userList a:hover{background-color:#262626;}

/*首页内容*/
.indexList{border-right:1px solid #e9e9e9;}
.indexList li{padding:65px 15px; width:206px; border-left:1px solid #e9e9e9; text-align:center; float:left;}
.indexList strong{font-size:20px; color:#5b6167; display:block; font-weight:normal; line-height:20px; margin-top:58px;}
.indexList p{text-align:left; color:#8b8b8b; line-height:18px; margin-top:28px; height:90px; overflow:hidden;}
.indexList .btnC{margin-top:30px;}
.indexFeedback{border-top:1px solid #e9e9e9; padding:99px 0 119px; text-align:center;}

/*内容展示区*/
.contentTabsBox{}
.contentTabs li{overflow:hidden;}
.contentShow_one, .contentShow_two, .contentShow_three, .contentShow_four, .contentShow_five{height:424px;}
.contentShow_one{background:url(../images/banner_02.jpg) center top no-repeat;}
.contentShow_two{background:url(../images/banner_03.jpg) center top no-repeat;}
.contentShow_three{background:url(../images/banner_04.jpg) center top no-repeat;}
.contentShow_four{background:url(../images/banner_05.jpg) center top no-repeat;}
.contentShow_five{background:url(../images/banner_06.jpg) center top no-repeat;}
.contentShow_one i{background:url(../images/img_01.png) no-repeat; width:440px; height:316px; position:absolute; left:0; bottom:0;}
.contentShow_two i{background:url(../images/img_02.png) no-repeat; width:310px; height:356px; position:absolute; right:0; bottom:0;}
.contentShow_three i{background:url(../images/img_03.png) no-repeat; _background:url(../images/img_03_8.png) no-repeat; width:358px; height:335px; position:absolute; left:0; top:52px;}
.contentShow_four i{background:url(../images/img_04.png) no-repeat; _background:url(../images/img_04_8.png) no-repeat; width:302px; height:343px; position:absolute; right:0; bottom:0;}
.contentShow_five i{background:url(../images/img_05.png) no-repeat; _background:url(../images/img_05_8.png) no-repeat; width:408px; height:151px; position:absolute; left:0; top:131px;}
.contentShow{position:relative; zoom:1; height:424px;}
.contentShow_literal{}
.contentShow_literal p{font-size:36px; line-height:36px;}
.contentShow_literal span{font-size:16px; line-height:20px;}
.contentShow_one, .contentShow_three, .contentShow_five{text-align:right;}
.contentShow_one p, .contentShow_one span, .contentShow_three p, .contentShow_three span, .contentShow_four p, .contentShow_four span, .contentShow_five p, .contentShow_five span{color:#fff;}
.contentShow_one p, .contentShow_three p{padding-top:177px; letter-spacing:1px;}
.contentShow_five p{padding-top:131px; letter-spacing:1px;}
.contentShow_one span, .contentShow_three span{margin-top:25px; width:438px; display:inline-block; text-align:left;}
.contentShow_five .contentShow_p{width:405px; text-align:left; padding:18px 0 0 470px;}
.contentShow_five .i_icoDian{float:left; margin:8px 14px 0 0;}
.contentShow_five .contentShow_span{float:left; width:380px;}
.contentShow_two, .contentShow_four{text-align:left;}
.contentShow_two p, .contentShow_two span{color:#a96d29;}
.contentShow_two p, .contentShow_four p{padding-top:157px; letter-spacing:1px;}
.contentShow_two span, .contentShow_four span{margin-top:25px; width:380px; display:inline-block; text-align:left;}
.contentTabs_list{width:1000px; margin:0 auto;}
.contentTabs_list li{float:left; width:50px; text-align:center; position:relative; zoom:1; padding:14px 0; margin:0 75px; _display:inline;}
.contentTabs_list li .i_icoTop{position:absolute; left:20px; top:-7px;}
.contentTabs_list li p{margin-top:11px;}
.contentTabs_list li.focus .TabsColorOne{color:#7e939f;}
.contentTabs_list li.focus .TabsColorTwo{color:#d1ac76;}
.contentTabs_list li.focus .TabsColorThree{color:#bb8063;}
.contentTabs_list li.focus .TabsColorFour{color:#9da577;}
.contentTabs_list li.focus .TabsColorFive{color:#b9a999;}

/*底部*/
.footer{border-top:1px solid #e9e9e9; padding:60px 0 55px;}
.footerConInfo{float:left;}
.footerConInfo p{color:#5e5e5e;}
.footerConInfo span{color:#c0bfbf; display:inline-block; margin-top:12px;}
.footerConBtn{float:right; position:relative; zoom:1;}
.footerConBtn a{margin-left:20px;}
.footerWindow{position:absolute; right:-69px; bottom:55px; border:7px solid #353535; padding:12px; background-color:#fff;
	-moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
}
.footerWindow .i_icoDown{position:absolute; left:89px; bottom:-14px;}

/*弹窗*/
.window{width:442px; background-color:#141414\9; position:fixed; _position:absolute; left:50%; top:25%; padding:16px 20px 28px; margin:0 0 0 -240px;}
:root .window{background-color:rgba(0, 0, 0, 0.8);}
.window .i_icoClose{position:absolute; right:21px; top:23px;}
.window h2{color:#fff; font-size:18px; font-weight:normal; line-height:24px;}
.windowFrom li{margin-top:28px;}
.windowFrom li .i_icoRefresh{margin:16px 0 0 16px; float:left; _display:inline;}
.inputBox{border:2px solid #21201f; color:#4e4d4d; position:relative; zoom:1;}
.inputBox .label{position:absolute; left:10px; top:0; height:36px; line-height:36px; font-style:italic;}
.inputBox .input{color:#4e4d4d; height:20px; line-height:20px; padding:8px 10px; width:390px; background:none;}
.inputBox_p{position:absolute; left:0; bottom:-22px; color:#aa2e2e;}
.inputBox_span{position:absolute; right:0; bottom:-22px; color:#4e4d4d;}
.inputBox_img{float:left; margin-left:11px; _display:inline;}
.inputBox_yz{width:96px; float:left;}
.inputBox_yz .input{width:86px;}
.window_btn{margin:32px 0 0 85px;}
.window_btnNew{margin:32px 0 0 0; text-align:center;}
.window_btn a{margin-right:9px;}
.successWindow{text-align:center; color:#fff; padding:39px 20px;}
.successWindow p{margin-top:27px;}
.feedbackWindow{background-color:#fff;}
:root .feedbackWindow{background-color:#fff;}
.feedbackWindow h2{color:#262626;}
.textareaBox{border:2px solid #e8e8e8; padding:10px; width:416px; height:159px; position:relative; zoom:1;}
.textareaBox .label{position:absolute; left:10px; top:12px; color:#9e9e9e; font-size:14px;}
.textareaBox textarea{resize:none; width:416px; height:159px; outline:none; overflow:auto; border:1px solid #fff; color:#9e9e9e; font-size:14px;}
.feedbackWindow .windowFrom li{margin-top:16px;}
.feedbackWindow .window_btn{margin:16px 0 0 0; text-align:right;}

.windowBox{background-color:#fff; position:fixed; _position:absolute; left:50%; top:25%; z-index:111; padding:20px; margin-left:-240px;}
.windowBox h2{color:#262626; font-size:18px; line-height:20px; font-weight:normal;}
.windowBox .i_icoCloseW{position:absolute; right:21px; top:23px;}
.shareList{padding:46px 0 32px;}
.shareList li{float:left; width:43px; margin:0 26px;}
.windowBoxBtn{text-align:center; margin-top:80px;}
.windowBoxBtn a{margin:0 10px;}
.windowBoxCustom{margin-top:50px;}
.windowBoxCustom .customMadeInfo{width:118px; text-align:center; margin-left:24px; _display:inline;}
.windowBoxCustom .customMadeInfo strong{font-size:24px;}

.windowBoxA{background-color:#fff; position:fixed; _position:absolute; left:50%; top:25%; z-index:111; width:551px; margin-left:-275px; height:492px;}
.windowBoxA h2{height:51px; line-height:51px; padding-left:17px; border-bottom:1px solid #ececec; font-weight:normal; font-size:18px; color:#000;}
.windowBoxA .i_icoCloseW{position:absolute; right:13px; top:20px;}

/*颜色盒子*/
.colorBox{padding:45px 0 30px 34px; overflow:hidden; height:35px;
	transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
}
.colorBox li{float:left; width:35px; margin:0 23px; _display:inline;}
.colorBox p{display:none;}
.colorBoxFoucs{padding:28px 0 20px 115px; height:50px;}
.colorBoxFoucs li{margin:0 15px;}
.colorBoxFoucs p{display:block; color:#a3a3a3; font-size:14px; margin-top:9px; line-height:20px;}
.colorBoxFoucs .i_icoColorOne{background-position:0 -344px; width:25px; height:25px;}
.colorBoxFoucs .i_icoColorTwo{background-position:-26px -344px; width:25px; height:25px;}
.colorBoxFoucs .i_icoColorThree{background-position:-52px -344px; width:25px; height:25px;}
.colorBoxFoucs .i_icoColorFour{background-position:-78px -344px; width:25px; height:25px;}
.colorBoxFoucs .i_icoColorFive{background-position:-104px -344px; width:25px; height:25px;}
.colorBoxFoucs .i_icoColorSix{background-position:-130px -344px; width:25px; height:25px;}
.colorBoxFoucs .i_icoColorSeven{background-position:-156px -344px; width:25px; height:25px;}
.colorBoxFoucs .i_icoColorEight{background-position:-182px -344px; width:25px; height:25px;}
.colorBoxFoucs .i_icoColorNine{background-position:-208px -344px; width:25px; height:25px;}
.colorBoxFoucs .i_icoColorTen{background-position:-234px -344px; width:25px; height:25px;}
.colorBoxFoucs .i_icoColorEleven{background-position:-260px -344px; width:25px; height:25px;}

/*模板*/
.templateBg{background:url(../images/bg_01.png) repeat-y; padding-bottom:50px;}
.template h2{font-size:14px; color:#a8a8a8; font-weight:normal; line-height:20px;}
.template_left{float:left; width:640px;}
.template_right{float:right; width:310px;}
.template li{float:left; width:310px; height:494px; margin-right:9px; _display:inline;}
.template .templateLi{border:1px solid #e1e1e1; position:relative; zoom:1; width:308px; height:437px;}
.template li .blackBg{background:#000; filter:alpha(opacity=30); -moz-opacity:0.3; -khtml-opacity:0.3; opacity:0.3; position:absolute; left:0; top:0; width:308px; height:437px;}
.template li .whiteBg{background:#fff; filter:alpha(opacity=70); -moz-opacity:0.7; -khtml-opacity:0.7; opacity:0.7; position:absolute; left:0; top:0; width:308px; height:437px;}
.template li .i_icoAdd{position:absolute; left:112px; top:170px;}
.template li .btnCollect{position:absolute; right:11px; top:11px;}
.btnCollect{background-color:#5b5b5b\9; padding:5px 9px;
	-moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
}
:root .btnCollect{background-color:rgba(0, 0, 0, 0.5);}
.btnCollect, .btnCollect:hover{color:#fff;}
.btnCollect i{margin:-2px 7px 0 0;}
.templateInfo{width:308px; text-align:center; position:absolute; left:0; top:160px;}
.templateInfo span{font-size:22px; color:#000; display:block; line-height:30px; padding-bottom:20px;}
.templateP{height:55px; line-height:55px; width:310px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; font-size:18px; text-align:center; color:#565656;}
.templateTime{position:absolute; right:0; bottom:0; font-size:14px; color:#fff;	 width:295px; height:42px; line-height:42px; text-align:right; padding-right:13px;}
.templateTimeBg{position:absolute; right:0; bottom:0; width:308px; height:42px; background:#000; filter:alpha(opacity=30); -moz-opacity:0.3; -khtml-opacity:0.3; opacity:0.3;}

/*白色弹出框*/
.i_icoPromptBtn{position:absolute; right:12px; top:72px;}
.i_icoClosesBtn{position:fixed; _position:absolute; right:19px; top:13px;}
.whiteBackground{background:#fff; filter:alpha(opacity=80); -moz-opacity:0.8; -khtml-opacity:0.8; opacity:0.8; position:fixed; left:0; top:0; width:100%; height:100%;}
.blackBackground{background:#000; filter:alpha(opacity=80); -moz-opacity:0.8; -khtml-opacity:0.8; opacity:0.8; position:fixed; left:0; top:0; width:100%; height:100%;}
.windowWhite{position:fixed; _position:absolute; left:50%; top:10%; width:610px; margin-left:-305px;}
.windowWhite i{float:left; margin-right:72px; _display:inline;}
.windowWhite li{font-size:14px; color:#535353; line-height:20px; margin-top:47px;}
.windowWhite li span{margin-top:20px; display:inline-block; float:left; width:450px;}
.windowWhite p{text-align:center; margin-top:70px;}

/*透明*/
.bodyTransparent{background:url(../images/bg_01.jpg) center top no-repeat; background-size:cover;}
.bodyTransparent .headerBlack{background:none;}
.listTransparent{margin-left:-46px; padding:20px 0 67px;}
.listTransparent ul{float:left; width:450px; margin-left:53px;  _margin-left:35px;}
.listTransparent li{margin-top:28px;}
.listTransparent strong{color:#6dff2c; font-size:18px; font-weight:normal; display:block; line-height:22px;}
.listTransparent p{color:#fff; font-size:14px; line-height:22px; margin-top:15px;}

/*定制*/
.customMadeBox{position:relative;width:551px;}
.customMadeBox .cont{height:274px;overflow:hidden;}
.customMadeBox .item{position:absolute;left:0;bottom:21px;width:100%;text-align:center;height:12px; overflow:hidden;}
.customMadeBox .item a{margin-right:10px;cursor:pointer; background-position:-427px -106px; width:7px; height:7px;}
.customMadeBox a.seld{background-position:-435px -106px;}
.customMadeBox a.hide{display:none;}
.customMadeI{border-bottom:1px solid #e9e9e9; padding:74px 0;}
.customMade{}
.customMadeInfo{width:336px;}
.customMadeInfo strong{font-size:30px; color:#606060; line-height:30px; font-weight:normal; display:block;}
.customMadeInfo span{color:#c3c3c3; font-size:18px; display:block; margin-top:6px; line-height:20px;}
.customMadeInfo p{color:#acacac; margin-top:20px;}

/*用户中心*/
.userCenterMain{border-bottom:1px solid #e9e9e9; padding:46px 0;}
.userCenterMainOther{border-bottom:1px solid #e9e9e9; padding:20px 0 50px;}
.userInfo{position:relative; zoom:1;}
.userInfo_img{width:191px; height:270px; border:1px solid #e1e1e1; position:relative; zoom:1;}
.userInfo_img .i_icoCloseX{position:absolute; right:6px; top:6px;}
.userInfo_img .i_icoLook{position:absolute; left:57px; top:94px;}
.userInfo_img .userInfo_imgBg{position:absolute; left:0; bottom:0; background:#000; filter:alpha(opacity=41); -moz-opacity:0.41; -khtml-opacity:0.41; opacity:0.41; width:191px; height:30px;}
.userInfo_img .userInfo_imgP{position:absolute; left:0; bottom:0; width:175px; height:30px; line-height:30px; padding:0 8px; color:#fff; font-size:14px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.userInfo_com{float:right; width:750px;}
.userInfo_com h2{color:#2a2a2a; font-size:20px; line-height:24px; padding-left:4px;}
.userInfo_com_name{color:#bdbdbd; font-size:18px; font-weight:normal; line-height:22px; margin-top:12px; display:block; padding-left:4px;}
.userInfo_comBtn{padding-left:4px; margin-top:17px;}
.userInfo_comBtn a{margin-right:22px;}
.userInfo_comBtns{margin-top:24px; color:#b7b7b7; font-size:14px;}
.userInfo_comBtns a{margin-right:13px;}
.userInfo_com .userInfo_img{position:absolute; right:0; top:0;}
.userCenter_addUser{background:url(../images/pic_08.jpg) no-repeat; width:191px; height:270px; display:inline-block; border:1px solid #e1e1e1;}
.userCenterList li{float:left; width:193px; margin:20px 31px 0 0;}
.userCenterList_name{height:20px; line-height:20px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; width:193px; text-align:center; color:#757575; font-size:14px; margin-top:18px;}
.userCenter h3{font-size:18px; color:#2a2a2a; line-height:28px;}

/*进度*/
.progress{border:2px solid #e4e4e4; width:296px; height:11px; overflow:hidden; position:relative; zoom:1;}
.progress p{border:1px solid #fff; width:294px; height:9px; line-height:9px; overflow:hidden;}
.progress p span{display:inline-block; background-color:#7dbf74; height:9px; overflow:hidden;}
.progress .progressName{color:#2a2a2a; position:absolute; right:5px; top:0; height:11px; line-height:11px; overflow:hidden;}

/*预览*/
.windowPreview{position:fixed; _position:absolute; left:0; top:10%; width:100%; text-align:center;}
.imgnav{ width:100%;}
#content{margin:0px auto;  line-height:19px;}
#content p{ text-indent:2em; color:#333;}
.imgnav{  position:relative; margin:0 auto; width:100%;}
#img{ z-index:10; width:100%; position:relative; text-align:center;}
#img img{ height:570px; border:4px solid #000;}
#img ul{text-align:center; width:471px; margin:0 auto;}
#img li{width:471px; height:100%; display:none; background-color:#fff; border:1px solid #000; padding:11px 11px 0;}
#img li img{border:1px solid #e8e8e8;}
#front{ position:absolute; left:0px; top:0px; z-index:10; cursor:pointer; width:10%; height:100%; background:url(../images/ico/blank.gif); }
#front a{position:absolute; left:20%; top:224px;display:block; background-position:-387px -344px; width:56px; height:154px;}
#next{  position:absolute; right:0px; top:0px; z-index:10;cursor:pointer; width:10%; height:100%; background:url(../images/ico/blank.gif);}
#next a{  position:absolute; right:20%; top:224px; display:block; background-position:-444px -344px; width:56px; height:154px;}
.windowPreview_btn{padding:9px 0;}
.windowPreview_btnL{float:left;}
.windowPreview_btnL a{margin-right:18px;}
.windowPreview_btnR{float:right; color:#757575; font-size:20px; font-weight:normal; line-height:36px;}

/*模板滚动*/
.scroll{background-color:#000;}
.scroll .scrollWindow{width:1168px; height:209px; padding:20px 0; overflow:hidden; margin:0 auto; position:relative; zoom:1;}
.scroll .scroll_ul{width:5000000px;}
.scroll li{float:left; margin:0 15px; _display:inline; width:127px;}
.scroll li .scrollBox{position:relative; zoom:1; background-color:#fff; border:1px solid #ededed; width:125px; height:177px; cursor:pointer;}
.scroll li .i_icoSok{position:absolute; top:59px; left:33px;}
.scroll li.focus .scrollBox{border:1px solid #23b510;
	-moz-box-shadow:0 0 4px #23b510;
    -webkit-box-shadow:0 0 4px #23b510;
    box-shadow:0 0 4px #23b510;
}
.scroll li .scroll_spanOne, .scroll li .scroll_spanTwo, .scroll li .scroll_spanThree{position:absolute; right:7px; bottom:6px; padding:0 15px; height:20px; text-align:center; line-height:20px; color:#fff;
	-moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
}
.scroll li .scroll_spanOne{background-color:#42d1eb;}
.scroll li .scroll_spanTwo{background-color:#ffa632;}
.scroll li .scroll_spanThree{background-color:#9a9a9a;}
.scroll li .scroll_li_name{width:127px; height:20px; line-height:20px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; color:#fff; text-align:center; margin-top:10px;}
.scroll_left, .scroll_right{background:url(../images/bg_02.png) no-repeat; _background:url(../images/bg_02_8.png) no-repeat; width:207px; height:249px; position:absolute; top:0;}
.scroll_left{background-position:0 0; left:0;}
.scroll_right{background-position:-207px 0; right:0;}
.scroll_left .i_icoLeft, .scroll_right .i_icoRight{position:absolute; top:100px;}
.scroll_left .i_icoLeft{left:0;}
.scroll_right .i_icoRight{right:0;}

.resumeCon{float:left; width:756px; background-color:#fff; padding:20px 35px 0 22px;}
.resumeCon_img{float:left; padding-left:10px;}
.resumeCon_img span{width:103px; height:5px; border-bottom:1px solid #eca69e; display:block; overflow:hidden; background-color:#d94a39;}
.resumeCon_img img{margin-top:22px;}
.resumeCon_name{float:left; width:230px; margin-left:23px; margin-top:70px;}
.resumeCon_name strong{font-size:32px; color:#d94938; display:block; line-height:40px;}
.resumeCon_name span{font-size:14px; color:#6f6c6c; padding-left:4px; line-height:20px;}
.resumeCon_right{float:right; width:75px; text-align:center;}
.resumeCon_right strong{background-color:#d94a39; border-bottom:1px solid #eca69e; line-height:20px; padding:44px 0 5px; color:#fff; font-size:14px; display:block; width:75px; margin-bottom:6px;}
.resumeCon_right p{line-height:20px;}
.resumeCon_right span{border-top:1px solid #eca69e; display:block; overflow:hidden; background-color:#d94a39; width:75px; height:5px; margin-top:7px;}

.resume_body_left{float:left; width:355px;}
.resume_body_right{float:right; width:355px;}

.infoBox{border:1px solid #fff; padding:10px;}
.infoBox.focus{border:1px solid #16bb00;
	-moz-box-shadow:0 0 4px #16bb00;
    -webkit-box-shadow:0 0 4px #16bb00;
    box-shadow:0 0 4px #16bb00;
}
.infoBox.hover{border:1px solid #ffba00;
	-moz-box-shadow:0 0 4px #ffba00;
    -webkit-box-shadow:0 0 4px #ffba00;
    box-shadow:0 0 4px #ffba00;
}
.infoBox h2{color:#333; font-size:16px;}
.infoBoxList{margin-top:10px;}
.infoBoxList li{line-height:22px;}
.infoBoxList strong{color:#dd5c4d; width:85px; border-right:2px dashed #bebebe; font-weight:normal; height:20px; display:inline-block; padding-left:16px;}
.infoBoxList span{padding-left:22px;}

.infoBoxListA{margin-top:10px;}
.infoBoxListA i{width:6px; height:6px; background-color:#d84331; float:left; display:inline-block; margin:7px 20px 0 11px; overflow:hidden;}
.infoBoxListA span{float:left; width:295px; line-height:20px;}

.infoBoxListB li{border-bottom:1px solid #c7c6c6; padding:13px 0;}
.infoBoxListB strong{color:#cc0c00; font-size:14px; display:block; line-height:20px; position:relative; zoom:1; width:333px; height:20px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.infoBoxListB strong span{position:absolute; right:0; top:0; font-weight:normal; background-color:#fff;}
.infoBoxListB span{color:#cc0c00; display:block; line-height:20px;}
.infoBoxListB p{line-height:20px; color:#666;}

.infoBoxC li{border-bottom:1px solid #9d9b9b; padding:10px 0; line-height:20px;}
.infoBoxC span{float:left; width:100px; color:#cc0c00;}
.infoBoxC_con{float:right; width:233px;}

/*制作菜单*/
.resumeMenu{float:right; width:276px;}
.resumeMenu h2{color:#fff; font-weight:normal; font-size:24px; line-height:30px; text-align:center; padding-bottom:45px;}
.resumeMenu_list{margin-left:-10px;}
.resumeMenu_list li{float:left; width:85px; height:85px; margin:10px 0 0 10px; _display:inline;}
.resumeMenu_list li.not a, .resumeMenu_list li.not a:hover{background-color:#222322; cursor:default;}
.resumeMenu_list a{background-color:#16bb00; color:#fff; width:85px; height:73px; display:inline-block; text-align:center; padding-top:12px;}
.resumeMenu_list a:hover{background-color:#8bed00;}
.resumeMenu_list p{margin-top:12px;}
.resumeMenuBtn{text-align:center; margin-top:46px;}
.resumeMenuBtn .btnLa{font-size:14px; color:#7c7c7c; margin-right:20px;}
.resumeMenu_num{margin-top:105px;}
.resumeMenu_numBox{width:107px; height:33px; background-color:#2a2a2a; text-align:center; padding:3px 0 0 3px; float:left;
	-moz-border-radius:18px;
    -webkit-border-radius:18px;
    border-radius:18px;
}
.resumeMenu_numBox a, .resumeMenu_numBox span{float:left; color:#fff;}
.resumeMenu_numBox span{width:44px; display:inline-block; line-height:33px;}
.resumeMenu_num .i_icoThrough, .resumeMenu_num .i_icoLoad{float:left; margin:3px 0 0 14px; _display:inline;}

/*获奖经历*/
.windowBoxA_from{float:left; width:290px; padding:0 25px 0 23px;}
.windowBoxA_from li{margin-top:10px;}
.windowBoxA_from li label{font-size:16px; color:#7a7e84; line-height:24px;}
.windowBoxA_from li .input{border:1px solid #dfdfdf; width:276px; height:20px; line-height:20px; padding:5px; color:#9c9c9c; font-size:14px;}
.windowBoxA_from li .select{width:145px; padding:5px 0; float:left;}
.windowBoxA_from_bottom{text-align:center; position:absolute; left:149px; bottom:26px;}
.windowBoxA_from_bottom p{font-size:18px; color:#a5a5a5; line-height:20px; margin-top:5px;}

.windowBoxA_menu{border-left:1px solid #ececec; height:440px; width:210px; float:right;}
.windowBoxA_menu ul{height:337px; overflow-y:auto;}
.windowBoxA_menu li{height:28px; border:1px solid #fff; color:#8b8b8b; font-size:14px; position:relative; zoom:1;}
.windowBoxA_menu li.focus{background-color:#dbdbdb; border:1px solid #dbdbdb;}
.windowBoxA_menu li.hover{background-color:#8bd38b; border:1px solid #6bcb6b; color:#fff;}
.windowBoxA_menu li.hover .i_icoCloseSmall{background-position:-445px -198px;}
.windowBoxA_menu li span{float:left; width:48px; height:28px; line-height:28px; text-align:center;}
.windowBoxA_menu li p{float:left; width:142px; height:28px; line-height:28px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.windowBoxA_menu .i_icoCloseSmall{position:absolute; right:9px; top:10px;}
.windowBoxA_menu_btn{text-align:center; margin-top:12px;}

/*登录页*/
.loginH2{border-bottom:1px solid #e9e9e9; height:50px; line-height:50px;}
.loginH2 span{height:50px; line-height:50px; display:block; color:#2a2a2a; font-size:18px;}
.login{padding:50px 0 33px;}
.login h1{text-align:center; font-size:28px; line-height:28px; font-weight:normal; text-align:center; letter-spacing:20px; color:#000;}
.login h2{text-align:center; font-size:14px; line-height:20px; font-weight:normal; text-align:center; letter-spacing:20px; color:#000; margin-top:5px; padding-bottom:10px;}
.login ul{width:286px; margin:0 auto;}
.login li{text-align:center; margin-top:22px; position:relative; zoom:1;}
.login li .input{border:2px solid #dfdfdf; width:282px; height:30px;}
.login li .input .normal, .login li .select.normal, .payCon .input.normal{font-style:italic; color:#b3b3b3;}
.login li .input input{height:20px; line-height:20px; padding:5px; width:272px; color:#3c3c3c; font-size:14px;}
.login li .select{padding:5px 2px; width:286px; border:2px solid #dfdfdf; color:#3c3c3c; font-size:14px;}
.login li .inputTips{position:absolute; left:0; bottom:-20px; color:#aa2e2e; height:20px; line-height:20px;}
.login li .i_icoOks, .login li .i_icoErrors{position:absolute; right:4px; top:7px;}

.loginTips{line-height:38px; height:38px; color:#797979; background-color:#eaeaea; width:324px; padding:0 8px; margin:0 auto; margin-top:26px;}
.loginBtn{text-align:center; margin-top:34px;}

.loginOther{padding:27px 0 33px;}
.loginOther ul{width:375px;}
.loginOther li .input{width:371px;}
.loginOther li .input input{width:361px;}
.loginBtnOther{margin-top:76px;}

.loginImg{text-align:center; margin-top:30px;}
.loginImg .loginImgA{position:relative; zoom:1; cursor:pointer;
	-moz-border-radius:68px;
    -webkit-border-radius:68px;
    border-radius:68px;
}
.loginImg .loginImgA input{font-size:100px; filter:alpha(opacity=0); -moz-opacity:0; -khtml-opacity:0; opacity:0; cursor:pointer;}
.loginImg p{color:#bababa; font-size:14px; margin-top:30px;}

/*支付*/
.payMain{position:relative; zoom:1; padding-top:60px;}
.payTabs{border-bottom:1px solid #e1e0e1;
	-moz-box-shadow:1px 0 4px #e1e0e1;
    -webkit-box-shadow:1px 0 4px #e1e0e1;
    box-shadow:1px 0 4px #e1e0e1;
}
.payTabs ul{width:536px; margin:0 auto;}
.payTabs li{float:left; width:207px; border-bottom:3px solid #fff; padding:23px 0 26px 51px; margin:0 5px; _margin:0 4px; _display:inline; cursor:pointer;}
.payTabs li.focus{border-bottom:3px solid #65e23f;}
.payTabs li .i_icoPay{position:relative; margin-right:35px;}
.payTabs_nun{position:absolute; left:-9px; bottom:-3px; width:22px; height:22px; background-color:#56c923; text-align:center; line-height:22px; color:#fff; font-style:normal; font-size:12px;
	-moz-border-radius:11px;
    -webkit-border-radius:11px;
    border-radius:11px;
}
.payTabs_vip{position:absolute; left:-9px; bottom:-3px; width:22px; height:22px; background-color:#d3b367; text-align:center; line-height:22px; color:#fff; font-style:normal; font-size:12px;
	-moz-border-radius:11px;
    -webkit-border-radius:11px;
    border-radius:11px;
}
.payTabs a{color:#000; font-size:18px;}

.payList .first .payLabel{line-height:25px;}
.payLabel{float:left; width:163px; padding-right:14px; text-align:right; line-height:34px; font-size:14px; color:#000;}
.payCon{float:left; width:690px;}
.payCon .inputSpan{display:inline-block; width:244px; height:25px; line-height:25px; padding:0 7px; background-color:#ebebeb;}
.payCon .input{border:2px solid #dfdfdf; padding:5px 6px; width:274px; height:20px; line-height:20px; color:#3c3c3c; font-size:14px;}
.payCon .input_tips{color:#929292; font-size:14px; line-height:30px; display:inline-block;}
.payCon .input_tipsa, .payCon .input_tipsb{font-size:14px; line-height:30px; display:inline-block;}
.payCon .input_tipsa{color:#000; margin-left:10px;}
.payCon .input_tipsb{color:#d3b367; margin-left:20px;}
.payTable{width:100%; border-collapse:collapse; table-layout:fixed;}
.payTable td{border:1px solid #ccc;}
.payTable a{margin:-1px; border:1px solid #ccc; display:block;}
.payTable a i{display:none;}
.payTable a:hover i, .payTable a.focus i{display:block;}
.payTableGreen a:hover, .payTableGreen a.focus{border:1px solid #56c923; position:relative; z-index:1;}
.payTableOrange a:hover, .payTableOrange a.focus{border:1px solid #d3b367; position:relative; z-index:1;}
.payTableGreen i{background-position:-419px -571px; width:18px; height:19px; position:absolute; right:0; bottom:0;}
.payTableOrange i{background-position:-438px -571px; width:18px; height:19px; position:absolute; right:0; bottom:0;}
.payCon_radio i{background-position:-457px -571px; width:19px; height:19px; margin-right:10px;}
.payCon_radioGreen.on i{background-position:-477px -571px;}
.payCon_radioOrange.on i{background-position:-419px -591px;}
.payCon_radio span{height:20px; line-height:20px; background-color:#e1e1e1; display:inline-block; padding:0 8px; margin-left:8px;
	-moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}
.payMoney{position:absolute; right:90px; top:44px; height:50px;}
.payMoney span{font-size:14px; color:#000; display:inline-block;}
.payMoney strong{font-size:48px; font-weight:normal; display:inline-block; height:48px; line-height:48px;}
.payMoneyGreen strong{color:#80d244;}
.payMoneyOrange strong{color:#dab764;}